@charset "UTF-8";

/*
ページ全体を囲うwrapper
幅と高さをviewportいっぱいにする
コンテンツは縦方向に並べる
 */
.wrapper {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100%;
    min-height: 100vh;
    padding: 48px 0 48px 0;

    @include tablet {
      padding: 12vh 0 12vh 0;
    }

    @include desktop {
      padding: 14vh 0 10vh 0;
    }

    @include xlarge {
      padding: 12vh 0 10vh 0;
    }
}


// ヘッダーエリアの要素
header {
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;

    // ページタイトル
    h1.title {
        @include enFont('light');
        font-size: 24pt;
        @include text-shadow(rgba(0, 0, 0, 0.3) 2px 2px 0);
        margin-bottom: 0.15em;

        .webpack {
          font-size: 105%;
          font-weight: 700;
        }

        @include tablet { font-size: 37pt; }
        @include desktop { font-size: 38pt; }
        @include xlarge { font-size: 46pt; margin-bottom: 0.05em; }
    }
}


// Reactが出力するアプリケーションのコンテナー
app-root {
    @include flex(1 0);
    position: relative;
    width: 85%;
    margin: 20px auto 0 auto;

    @include tablet {
        width: 77%;
    }

    // Reactアプリケーション領域
    .app-container {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    // 入力されたテキストを反映させるエリアのコンポーネント
    app-reflected-text {
        @include flex(1 0);
        width: 100%;
    }

    // テキスト入力フォームのコンポーネント
    app-text-input {
        @include flex(0 0);
        width: 100%;
        margin: 20px auto 0 auto;

        @include desktop { width: 470px; }
        @include xlarge { width: 570px; }
    }
}


