/*
入力されたテキストを反映させるエリアのコンポーネント
 */
app-reflected-text {
    // 左右上下センタリング
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    font-size: 30pt;
    line-height: 1.45em;
    letter-spacing: 0;
    text-align: center;
    word-break: break-all;

    @include tablet { font-size: 39pt; }
    @include desktop { font-size: 35pt; }
    @include xlarge { font-size: 58pt; }
}