@charset "UTF-8";
// Reset
@import "compass/reset";
// 共通使用するmixinとか変数とかを読み込み
@import "imports";
// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');

// Defaults
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10.5pt;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-feature-settings: 'palt';
    word-wrap: break-word;
    background-color: $bgColor;
}

/*
ページ全体を囲うwrapper
幅と高さをviewportいっぱいにする
コンテンツは縦方向に並べる
 */
.wrapper {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100%;
    min-height: 100vh;
    padding: 48px 0 48px 0;

    @include tablet {
        padding: 12vh 0 12vh 0;
    }

    @include desktop {
        padding: 14vh 0 10vh 0;
    }

    @include xlarge {
        padding: 12vh 0 10vh 0;
    }
}


// ヘッダーエリアの要素
header {
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;

    // ページタイトル
    h1.title {
        @include enFont('light');
        font-size: 24pt;
        @include text-shadow(rgba(0, 0, 0, 0.3) 2px 2px 0);
        margin-bottom: 0.15em;

        .webpack {
            font-size: 105%;
            font-weight: 700;
        }

        @include tablet { font-size: 37pt; }
        @include desktop { font-size: 38pt; }
        @include xlarge { font-size: 46pt; margin-bottom: 0.05em; }
    }
}


// Reactが出力するアプリケーションのコンテナー
app-root {
    @include flex(1 0);
    position: relative;
    width: 85%;
    margin: 20px auto 0 auto;

    @include tablet {
        width: 77%;
    }
}